/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  margin: 0;
}

.navbar-content {
  display: flex;
  justify-content: center;
  margin: auto;
}

.navbar-link {
  padding: 10px 20px;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-link:hover {
  background-color: #555;
}

/* Audio Form */

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Clipboard */
#link{
  width: 350px;
  padding: 12px 10px;
  border: 1px solid #212121;
  background-color: #fff;
  border-radius: 5px;
  font-size: 19px;
  overflow-x: scroll;
}

#copy-btn{
  color: #fff;
  padding: 12px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #212121;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  margin: 20px;
}

.footer-section h2 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 14px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.contact-form .text-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.contact-form .btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form .btn:hover {
  background-color: #0056b3;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #777;
}