{%block content %}
{% include "header.html" %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6"> <!-- Adjust the column width as needed -->
            <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-toggle="pill" data-target="#pills-home"
                        type="button" role="tab" aria-controls="pills-home" aria-selected="true">Pending Orders</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile"
                        type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Completed
                        Orders</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-toggle="pill" data-target="#pills-contact"
                        type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Removed
                        Orders</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <h1>Pending Orders</h1>
                    <div class="container">
                        <div class="row">
                            {% for orders in orderList %}
                            {% if orders.completion_status == 'Incompleted' %}
                            <div class="col">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <h5 class="card-title">Name : {{orders.name}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Address : {{orders.address}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Phone : {{orders.phone}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Order List</h6>
                                        <div class="p-3 m-0 border-0 bd-example">
                                            <table class="table container">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Price</th>
                                                    </tr>
                                                </thead>
                                                {% for cartItems in orders.products %}
                                                <tr>
                                                    <td> {{cartItems.productName}} </td>
                                                    <td> {{cartItems.quantity}} </td>
                                                    <td> {{cartItems.productPrice}} </td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a href="{{url_for('order_completed', id=orders[" _id"])}}"><button
                                                    class="btn btn-success">Completed</button></a>
                                        </div>
                                        <div class="col">
                                            <a href="{{url_for('remove_order', id=orders[" _id"])}}"><button
                                                    class="btn btn-dark">Removed</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <h1>Completed Orders</h1>
                    <div class="container">
                        <div class="row">
                            {% for orders in orderList %}
                            <p>{{orderList}}</p>
                            {% if orders.completion_status == 'Completed' %}
                            <div class="col">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <h5 class="card-title">Name : {{orders.name}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Address : {{orders.address}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Phone : {{orders.phone}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Order List</h6>
                                        <div class="p-3 m-0 border-0 bd-example">
                                            <table class="table container">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Price</th>
                                                    </tr>
                                                </thead>
                                                {% for cartItems in orders.products %}
                                                <tr>
                                                    <td> {{cartItems.productName}} </td>
                                                    <td> {{cartItems.quantity}} </td>
                                                    <td> {{cartItems.productPrice}} </td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a href="{{url_for('order_completed', id=orders[" _id"])}}"><button
                                                    class="btn btn-success">Completed</button></a>
                                        </div>
                                        <div class="col">
                                            <a href="{{url_for('remove_order', id=orders[" _id"])}}"><button
                                                    class="btn btn-dark">Removed</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <h1>Removed Orders</h1>
                    <div class="container">
                        <div class="row">
                            {% for orders in orderList %}
                            {% if orders.completion_status == 'Removed' %}
                            <div class="col">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <h5 class="card-title">Name : {{orders.name}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Address : {{orders.address}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Phone : {{orders.phone}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Order List</h6>
                                        <div class="p-3 m-0 border-0 bd-example">
                                            <table class="table container">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Price</th>
                                                    </tr>
                                                </thead>
                                                {% for cartItems in orders.products %}
                                                <tr>
                                                    <td> {{cartItems.productName}} </td>
                                                    <td> {{cartItems.quantity}} </td>
                                                    <td> {{cartItems.productPrice}} </td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a href="{{url_for('order_completed', id=orders[" _id"])}}"><button
                                                    class="btn btn-success">Completed</button></a>
                                        </div>
                                        <div class="col">
                                            <a href="{{url_for('remove_order', id=orders[" _id"])}}"><button
                                                    class="btn btn-dark">Removed</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}