{% block content %}
{% include "header.html" %}
<div class="container">
    <h1>QR Code</h1>
    <div class="text-center">
        <img src="https://chart.apis.google.com/chart?cht=qr&chs=250x250&chl=http://127.0.0.1:5001/{{user_id}}/store"
            alt="QR Code" />
        <div class="mt-3">
            <span id="link">http://127.0.0.1:5001/{{user_id}}/store</span>
            <span id="copy-btn" class="btn btn-lg">Copy</span>
        </div>
        <div class="mt-3">
            <a href="{{url_for('products')}}"><button class="btn btn-lg btn-dark">Go Back</button></a>
        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}