{% block content %}
{% include "header.html" %}
<div class="container">
    <nav class="navbar mb-3">
        <div class="navbar-content">
            <a href="{{url_for("orders")}}" class="navbar-link">Pending Orders</a>
            <a href="{{url_for('completed_orders')}}" class="navbar-link">Completed</a>
            <a href="{{url_for('removed_orders')}}" class="navbar-link">Removed</a>
        </div>
    </nav>
    <h1>Removed Orders</h1>
    <div class="container">
        <div class="row">
            {% for orders in orderList %}
            {% if orders.completion_status == 'Removed' %}
            <div class="col">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Name : {{orders.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Address : {{orders.address}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Phone : {{orders.phone}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Order List</h6>
                        <div class="p-3 m-0 border-0 bd-example">
                            <table class="table container">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                {% for cartItems in orders.products %}
                                <tr>
                                    <td> {{cartItems.productName}} </td>
                                    <td> {{cartItems.quantity}} </td>
                                    <td> {{cartItems.productPrice}} </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}